---
layout: default
---

<div class='container'>

  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>

   <div class="container">
     <p style="font-size:34px">
     Wellcome to the Li Lab at USDA-ARS WHGQ <b>
     </p>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="max-width:10000px; max-height:600px !important;">
        <div class="item active">
          <a href="https://doi.org/10.1016/j.molp.2022.01.001" target="_blank">
            <img src="images/others/MP_Idaho.png" class="mh-100 center-block" alt=" " style="width: auto; height: 350px;">
          </a>
        </div>

        <div class="item">
          <a href="https://doi.org/10.1016/j.molp.2021.03.010" target="_blank">
            <img src="images/others/MP_Ceris.png" class="mh-100 center-block" alt=" " style="width: auto; height: 350px;">
          </a>
        </div>

        <div class="item">
          <a href="https://doi.org/10.1111/nph.17904" target="_blank">
            <img src="images/others/SbPH.png" class="mh-100 center-block" alt=" " style="width: auto; height: 350px;">
          </a>
        </div>

        <div class="item">
        	<a href="https://doi.org/10.1038/s41477-019-0563-0" target="_blank">
            <img src="images/others/Tan2.png" class="mh-100 center-block" alt=" " style="width: auto; height: 350px;">
          </a>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-image: none">
        <span class="glyphicon glyphicon-chevron-left" style="color:wheat;"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background-image: none;">
        <span class="glyphicon glyphicon-chevron-right" style="color:wheat;"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   </div>

  </body>

    <header class="masthead text-center">

      <p>
      <br><b>Phenotypic plasticity | Crop domestication and genetics | Compuational Biology<br>
      Wheat | Sorghum | Maize | Rice</b>
 
      <br><br><b>We have a funded postdoc position from the USDA-ARS SciNet Fellowship program!<br>
      <br>This is a two-year appointment (possible 3rd extension) with a stipend of $80,000 to $90,000 per year. <br>
      <br>Apply through <a href="https://www.zintellect.com/Opportunity/Details/USDA-ARS-2022-0139"> Zintellect</a> <br>


      <span style="display: block; margin-bottom: 1em"></span>

      <!---<a href="https://github.com/KordingLab"><i class="fa fa-github"></i> KordingLab</a>&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/KordingLab"><i class="fa fa-twitter"></i> KordingLab</a>&nbsp;&nbsp;&nbsp;--->
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 20px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h4> Recent News </h4>
          <u>Happenings of the last two months.</u>
          <span style="display: block; margin-bottom: 0.5em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 5184000 }}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 }}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>
      <span style="display: block; margin-bottom: 2em"></span>

      <!-- <a class="twitter-timeline" data-height="1000" data-theme="light" href="https://twitter.com/li_xianran?ref_src=twsrc%5Etfw">Tweets by li_xianran</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->
      <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

      <span style="display: block; margin-bottom: 2em"></span>
      Address: USDA-ARS Wheat Health, Quality, and Genetics Research Unit<br>
    219 Johnson Hall, Washington State University, Pullman, WA 99164<br>
    
    
      <!-- <span style="display: block; margin-bottom: 2em"></span> -->
      <a href="mailto:xianran.li@usda.gov"><i class="fa fa-envelope-o"></i> xianran.li@usda.gov</a>
      <hr>
      <div class="row">
       <div class="column">
         <img src="images/logo/ars-color-lockup.png" alt="Snow" style="height:50px; width:auto">
       </div>
       <div class="column">
         <img src="images/logo/wsu.png" align="right" alt="Forest" style="height:50px; width:auto;">
       </div>

    </header>
</div>
